// VARIABLES
$primary-color: #f12336;
$primary-color-light: #feeeef;
$primary-color-washed: #fddbde;
$primary-color-pale: #fbc9ce;

$secondary-color: #e6d959;
$tertiary-color: #fec7ad;

$sub-color: #f5f5f5;
$main-color: #000;
$dark-color: #343434;

// -- CARD COLORS

// BLUE
$blue-card: #5089c6;
$blue-card-dark: #035397;

// GREEN
$green-card: #5c9c45;
$green-card-dark: #2f3715;

// ORANGE
$orange-card: #ffaa4c;

// PINKY
$pinky-card: #ff5994;

$bg-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
  url("../img/hero-tequila-1.jpg");

$website-width: 1440px;
$tab-width: 700px;
