.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.section-title {
  font-size: 4rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.bottom-line {
  height: 4px;
  width: 6rem;
  background: $primary-color;
  display: block;
  // BORDER LINE
  margin: 0 auto 1rem auto;
 }


// BORDER MIXINS
@mixin border-top-large {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

@mixin border-bottom-large {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}


// PADDING CLASSES
.py {
  &-1{
   padding: 1rem 0;
  }
  &-2{
   padding: 2rem 0;
  }
  &-3{
   padding: 3rem 0;
  }
  &-4{
   padding: 4rem 0;
  }
 }
 
 // MARGIN CLASSES
 .my {
  &-1{
   margin: 1rem 0;
  }
  &-2{
   margin: 2rem 0;
  }
  &-3{
   margin: 3rem 0;
  }
  &-4{
   margin: 4rem 0;
  }
  &-6{
    margin: 6rem 0;
   }
 }
